<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <!--- snipped -->
    <!--<resource-ref>-->
        <!--<description>Test DB Connection</description>-->
        <!--<res-ref-name>jdbc/CinemaProject</res-ref-name>-->
        <!--<res-type>javax.sql.DataSource</res-type>-->
        <!--<res-auth>Container</res-auth>-->
    <!--</resource-ref>-->

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>org.study.servlet.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.study.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding_type</param-name>
            <param-value>UTF8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>